.input {
  border: 1px solid $input-border-color;
  border-radius: 8px;
  height: 55px;
  line-height: 57px;
  font-size: 16px;
  // letter-spacing: 0.1px;
  padding: 0 15px;

  &::placeholder {
    color: #a2acb4;
  }

  &:hover {
    border-color: $input-hover-border-color;
  }

  &:focus {
    outline: none;
    padding: 0 14px;
    line-height: 55px;
    border: 2px solid $input-focus-border-color;
    caret-color: $input-focus-border-color;
  }
}